.tittle {
    background-color: rgb(18, 116, 103);
    margin: 0,75cm;
    font-size: 15pt;
    font-family: monospace;
    color: blanchedalmond;
    border-radius: 25px;
    text-align: center;
}
.phrase {
    text-align: center;
}
.warm-up {
    margin: 0,75cm;
    font-size: 12pt;
    font-family: monospace;
    color: darkslategray;
    text-align: center;
}
.references {
    margin: 0,75cm;
    font-size: 12pt;
    font-family: monospace;
    font-style: normal;
    text-align: center;
    color: lightslategrey;
}
.day30-routine {
    margin: 0,75cm;
    font-size: 12pt;
    font-family: monospace;
    text-align: center;
    font-style: normal;

}
.day1 {
    text-align: center;
    background-color: lightsteelblue;
    border-radius: 25px;
}