body {
    background-color: rgb(255, 244, 253);
}
.tittle {
    background-color: #db80cc;
    margin: 0.50cm;
    font-size: 15pt;
    font-family: monospace;
    color: blanchedalmond;
    border-radius: 25px;
    text-align: center;
}
.phrase1 {
    text-align: center;
    font-style: italic;
}
.warm-up {
    background-color: #deaaff;
    border-radius: 25px;
    margin: 0.50cm;
    font-size: 15pt;
    font-family: monospace;
    color: darkslategray;
    text-align: center;
}
.references {
    margin: 0,75cm;
    font-size: 12pt;
    font-family: monospace;
    font-style: normal;
    text-align: center;
    color: lightslategrey;
}
.day30-routine {
    margin: 0.75cm;
    font-size: 12pt;
    font-family: monospace;
    text-align: center;
    font-style: normal;

}
.day1 {
    text-align: center;
    background-color: #d8e2dc;
    border-radius: 25px;
    font-size: 15pt;
    color: #6d6875;
}
.day2 {
    text-align: center;
    background-color: #f0e6ef;
    border-radius: 25px;
    font-size: 15pt;
    color: #6d6875;
}
.day3 {
    text-align: center;
    background-color: #1B9AAA;
    border-radius: 25px;
    font-size: 20pt;
    color:  blanchedalmond;
    margin: 1,5cm;
}
.day4 {
    text-align: center;
    background-color: #d9f3e2;
    border-radius: 25px;
    font-size: 15pt;
    color: #6d6875;
}
.day5 {
    text-align: center;
    background-color: #fce0ce;
    border-radius: 25px;
    font-size: 15pt;
    color: #6d6875;
}
.day6 {
    text-align: center;
    background-color: #fadde1;
    border-radius: 25px;
    font-size: 15pt;
    color: #6d6875;
}
.day7 {
    text-align: center;
    background-color: #1B9AAA;
    border-radius: 25px;
    font-size: 20pt;
    color:  blanchedalmond;
    margin: 1,5cm;
}
.phrase2 {
    text-align: center;
    font-style: italic;
}
.day8 {
    text-align: center;
    background-color: #fdcdbe;
    border-radius: 25px;
    font-size: 15pt;
    color: #6d6875;
}
.day9 {
    text-align: center;
    background-color: #d9f3e2;
    border-radius: 25px;
    font-size: 15pt;
    color: #6d6875;
}
.day10 {
    text-align: center;
    background-color: #1B9AAA;
    border-radius: 25px;
    font-size: 20pt;
    color: blanchedalmond;
    margin: 1,5cm;
}
.day11 {
    text-align: center;
    background-color: #fbc4ab;
    border-radius: 25px;
    font-size: 15pt;
    color: #6d6875;
}
.day12 {
    text-align: center;
    background-color: #ffc4d6;
    border-radius: 25px;
    font-size: 15pt;
    color: #6d6875;
}
.day13 {
    text-align: center;
    background-color: #c8e7ff;
    border-radius: 25px;
    font-size: 15pt;
    color: #6d6875;
}
.day14 {
    text-align: center;
    background-color: #1B9AAA;
    border-radius: 25px;
    font-size: 20pt;
    color:  blanchedalmond;
    margin: 1,5cm;
}
.day15 {
    text-align: center;
    background-color: #fce0ce;
    border-radius: 25px;
    font-size: 15pt;
    color: #6d6875;
}
.phrase3 {
    text-align: center;
    font-style: italic;
}
.day16 {
    text-align: center;
    background-color: #f3c4fb;
    border-radius: 25px;
    font-size: 15pt;
    color: #6d6875;
}
.day17 {
    text-align: center;
    background-color: #1B9AAA;
    border-radius: 25px;
    font-size: 20pt;
    color:  blanchedalmond;
    margin: 1,5cm;
}
.day18 {
    text-align: center;
    background-color: #d9f3e2;
    border-radius: 25px;
    font-size: 15pt;
    color: #6d6875;
}
.day19 {
    text-align: center;
    background-color: #ffdab9;
    border-radius: 25px;
    font-size: 15pt;
    color: #6d6875;
}
.day20 {
    text-align: center;
    background-color: #ded9e2;
    border-radius: 25px;
    font-size: 15pt;
    color: #6d6875;
}
.day21 {
    text-align: center;
    background-color: #1B9AAA;
    border-radius: 25px;
    font-size: 20pt;
    color:  blanchedalmond;
    margin: 1,5cm;
}
.day22 {
    text-align: center;
    background-color: #fce0ce;
    border-radius: 25px;
    font-size: 15pt;
    color: #6d6875;
}
.day23 {
    text-align: center;
    background-color:#e2cfea;
    border-radius: 25px;
    font-size: 15pt;
    color: #6d6875;
}
.day24 {
    text-align: center;
    background-color: #1B9AAA;
    border-radius: 25px;
    font-size: 20pt;
    color:  blanchedalmond;
    margin: 1,5cm;
}
.day25 {
    text-align: center;
    background-color: #ffd8be;
    border-radius: 25px;
    font-size: 15pt;
    color: #6d6875;
}
.day26 {
    text-align: center;
    background-color: #d0d1ff;
    border-radius: 25px;
    font-size: 15pt;
    color: #6d6875;
}
.day27 {
    text-align: center;
    background-color: #ffdab9;
    border-radius: 25px;
    font-size: 15pt;
    color: #6d6875;
}
.day28 {
    text-align: center;
    background-color: #1B9AAA;
    border-radius: 25px;
    font-size: 20pt;
    color:  blanchedalmond;
    margin: 1,5cm;
}
.day29 {
    text-align: center;
    background-color: #c2e2ea;
    border-radius: 25px;
    font-size: 15pt;
    color: #6d6875;
}
.day30 {
    text-align: center;
    background-color: #ffd7d5;
    border-radius: 25px;
    font-size: 15pt;
    color: #6d6875;
}
.phrase4 {
    text-align: center;
    font-style: italic;
}
.excersices {
    margin: 0,75cm;
    font-size: 15pt;
    font-family: monospace;
}
.warm-up-intro {
    background-color: black;
    color: blanchedalmond;
    border-radius: 25px;
    margin: 1,5cm;
}
.routine-excersices {
    background-color: black;
    color: blanchedalmond;
    border-radius: 25px;
    margin: 1,5cm;
}
.legs {
    color: rgb(110, 24, 41);
}
.cardio {
    color: rgb(110, 24, 41);
}
.glutes {
    color: rgb(110, 24, 41);
}
.abs {
    color: rgb(110, 24, 41);
}